.leftDiv, 
.rightDiv{
 width: 100%;
 max-width: 700px;
 height: 425px;
 justify-content: center;
 align-items: center;
 text-align: center;
 padding: 10px 10px;
}

.leftDiv{
 float: left;
 margin-bottom: 60px;
}

.rightDiv{
 float: right;
}

.moreAboutUs{
 background-image: url('../img/images/more-about-us_edited.jpg');
 background-repeat: no-repeat;
 background-position: center;
 height: 500px;
 width: 100%;
 clear: both;
 padding: 10px;
 overflow: hidden;
}

.aboutAlignLeft{
    text-align: center;
    margin: 70px auto;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    background-color: rgba(80, 100, 89, 0.7);
    max-width: 80%;
}

.moreAboutContent {
    padding: 20px;
    color: #fff;
    background-color: rgba(80, 100, 89, 0.7);
    margin: 20px auto;
    border-radius: 10px;
    max-width: 80%;
}

.moreAboutParagr{
    text-align: center;
    margin: 0;
    word-wrap: break-word;
}

@media (max-width: 830px) {
    .leftDiv, .rightDiv {
        width: 100%;
        padding: 40px;
        margin: 0 auto; /* Center the div */
    }

    .moreAboutUs {
        height: auto;
    }

    .aboutAlignLeft {
        margin: 50px auto;
        max-width: 90%;
    }

    .moreAboutContent {
        margin: 20px auto; 
        max-width: 90%; 
        padding: 20px; 
    }
}

@media (min-width: 1564px) {
    .aboutAlignLeft {
        margin: 100px 600px 80px 600px;
    }
}