.leftDiv, 
.rightDiv{
 width: 100%;
 max-width: 700px;
 height: 425px;
 justify-content: center;
 align-items: center;
 text-align: center;
 padding: 10px 10px;
}

.leftDiv{
 float: left;
}

.rightDiv{
 float: right;
}

.moreAboutUs{
 background-image: url('../img/images/more-about-us_edited.jpg');
 background-repeat: no-repeat;
 height: 430px;
 width: 100%;
 clear: both;
 padding: 10px 10px;
 padding-left: 10px;
 padding-right: 10px;
}

.aboutAlignLeft{
 text-align: left;
}

.moreAboutParagr{
 justify-content: center;
 align-items: center;
 text-align: center;
}

@media (max-width: 740px) {
    .leftDiv, .rightDiv, .moreAboutUs {
        display: block;
        width: 100%;
        padding: 10px;
        float: none; /* Ensure no float */
        margin: 0 auto; /* Center the div */
    }
}
