.signup-containter {
    position: flex;
}

.signup-container .signup {       /* Divides the 2 sections */
    display: flex;
    background-color: rgba(154, 161, 157, .5);
}

.sign-up .welcome-msg{          /* Left Content */
    max-width: 330px;
    width: 100%;
    color: #fff;
    display: flex;
    padding: 0 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup h1 {                              /* Main Headings */
    text-align: center;
    margin: 40px 0 40px 30px;
}

.signup .form-content {                   /* Right Content */
    width: 50%;
    height: 100%;
    padding: 0 35px 35px 35px;
}

.signup form .input-field {               /* Email & Password Box Fields */
    height: 50px;
    width: 90%;
    margin-top: 20px;
    position: relative;
}

.signup form .input-field input {         /* Email & Password Input Fields */
    width: 100%;
    height: 80%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}


/* signup-container
signup
welcome-msg
form-content
input-field
policy-text 
button */  