body {          
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar ul {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    margin-right: 10px;
    margin: 0;
    padding: 0;
}

.navbar li:last-child {
    margin-right: 10px;
}

.navbar li a {
    display: block;
    font-weight: 600;
    font-size: medium;
    color: #F8F8F7; 
    text-align: center;
    padding: 20px 30px; 
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #A7BA9C;
}

.navbar {
    background-size: cover;
    padding-top: 10px;
    
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between; 
}

.navbar .navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .navbar-nav .nav-item .nav-link {
    padding-top: 10px; 
}

.navbar .d-flex {
    margin-right: 10px; 
    float: right;
}

/* FOOTER */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #A7BA9C, #95aa88);
    color: #fff;      /* Text colour */
    padding: 100px 0 30px;
    border-top-left-radius: 125px;   /* Curve of left corner */
    font-size: 13px;
    line-height: 20px;
}

footer .row {
    width: 85%;  /* HAVE A PLAY WITH THIS */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer .col {
    flex-basis: 10%;
    padding: 5px;
}

footer .logo {
    width: 250px;
    margin-bottom: 30px;
}

footer .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer .col p {
    margin-bottom: -6px;
}

footer .email-id {
    width: fit-content;
    border-bottom: 1px solid #779181; 
    margin: 20px 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: -40px;
}

footer form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
}