{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% set navbar_background_url = url_for('static', filename='/img/images/about1.jpg') %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block heading %}

<h1>About</h1>

{% endblock %}

{% block content %}

<div class="leftDiv">
   <h3 class="headingThree">Our Vision</h3>
   <p>At Clean Sweep, our vision is to empower individuals and communities to lead organised,
      efficient, and harmonious lives. We believe that a clean and orderly environment fosters 
      productivity, creativity, and well-being. Our mission is to provide innovative tools and
      solutions that make managing tasks and responsibilities seamless and stress-free.</p>
</div>

<div class="rightDiv">
   <img src=" {{ url_for('static', filename='img/images/our-vision.jpg') }} ">
</div>


<div class="rightDiv">
    <h3 class="headingThree">Our Mission</h3>
    <p>Our mission at Clean Sweep is to transform the way people manage their daily lives through innovative, 
       user-friendly solutions that promote organisation and efficiency. We are dedicated to developing tools 
       that help individuals and communities declutter their spaces, streamline their tasks, and foster a sense of order and tranquility.</p>
</div>

<div class="leftDiv">
    <img src=" {{ url_for('static', filename='img/images/our-mission.jpg') }}">

</div>

<div class="moreAboutUs">
  <h2 class="aboutAlignLeft">More about us</h2>
  <div class="moreAboutContent">
    <p class="moreAboutParagr">Clean Sweep was born out of a passion for helping people lead more organised and fulfilling lives. 
    Our team is composed of dedicated professionals who understand the challenges of managing busy schedules and cluttered spaces. 
    We believe that everyone deserves to live in an environment that promotes peace, productivity, and well-being. That's why we've 
    designed our platform to be intuitive and accessible, offering practical solutions that can be easily integrated into daily routines. 
    Beyond just a tool, Clean Sweep is a community where users can share tips, inspire each other, and embark on a journey towards a more 
    organised and stress-free lifestyle. We are constantly evolving and innovating, driven by the feedback and needs of our users, to ensure 
    that Clean Sweep remains an indispensable part of their lives.</p>
  </div>
</div>


{% endblock %}