<!DOCTYPE html>

<html>

<head>

    <!-- Required meta tags can go here -->

<title>{% block title %} {% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>

<!--Nav bar can go here-->
<nav>
    <div>
        <ul>
            <li>Home</li>
            <li>Profile</li>
            <li>Tasks</li>
            <li>About Us</li>
            <li>Contact</li>
        </ul>
    </div>
</nav>


<!--Bootstrapping at the and of body-->
</body>
</html>
