<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">       <!-- For responsive webpage, mobile friendly-->
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="static/img/logos/favicon.ico">       <!-- Favicon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <script src="https://kit.fontawesome.com/017c367aad.js"></script>  <!-- Font/icon kit -->
    <style>
        /* Inheritable navbar image properties for each page */
        .navbar {
            background-image: url('{{ navbar_background_url }}');
            background-position: top;
            background-size: cover;
        }        
    </style>

{% block head %}{% endblock %}

</head>

<body>

<!-- HEADER -->    

<header>
    <div class="navbar">
        <div class="nav-container">
            <a href="{{ url_for('main') }}">        <!-- Links to the home page when logo clicked -->
                <img src="static/img/logos/logo.png" alt="Clean Sweep" class="header-logo">      <!-- Header logo -->
            </a>
            <ul class="links">                        <!-- Header page links -->
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="#">Tips</a></li>
            </ul>
            <a href="#" class="login-btn">Login</a>      <!-- Login button -->
            <div class="ham-btn">
                <i class="fa-solid fa-bars"></i>         <!-- Responsive hamburger icon -->
            </div>
        </div>
        <div class="heading-container">                  <!-- Site Heading -->
            <div class="site-heading">
                <div class="block-heading"> {% block heading %} {% endblock %}</div>
            </div>
        </div>
    </div>
    <div class="dropdown_menu">                                    <!-- Drop Down Links -->
        <li><a href="{{ url_for('main') }}">Home</a></li> 
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="#" class="login-btn">Login</a></li>
    </div>
</header>

<!-- LOGIN POP UP FORM -->

<div class="login-popup">       
    <div class="close-btn">                   <!-- Close Button -->
        <i class="fa-solid fa-x"></i>
    </div>
    <div class="login-form login">            <!-- LOGIN -->
        <div class="left-info">
            <h2>Welcome Back</h2>
            <p>Please login using your account information.</p>
        </div>
        <div class="form-content">
            <h2>LOGIN</h2>
            <form action="#">                      <!-- DB link may go here for login -->
                <div class="input-field">          <!-- Email input -->
                    <input type="text" required>
                    <label>Email</label>
                </div>
                <div class="input-field">          <!-- Password input -->
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <a href="#" class="forgot-password">Forgot Password?</a>  <!-- Forgot Password Link -->
                <button type="submit">Log In</button>
            </form>
            <div class="bottom-link">
                Don't have an account?
                <a href="#">Signup</a>          <!-- Sign Up Link -->
            </div>
        </div>
    </div>

<!-- SIGNUP POPUP FORM -->   

    <div class="login-form signup">           <!-- SIGNUP -->
        <div class="left-info">
            <h2>Create Account</h2>
            <p>To become a part of our community, please sign up using your personal information.</p>
        </div>
        <div class="form-content">
            <h2>SIGNUP</h2>
            <form action="#">                        <!-- DB link may go here for signup -->
                <div class="input-field">            <!-- Insert Email -->
                    <input type="text" required>
                    <label>Enter your email</label>
                </div>
                <div class="input-field">                   <!-- Create Password -->
                    <input type="password" required>
                    <label>Create password</label>
                </div>
                <div class="policy-text">
                    <input type="checkbox" id="policy">
                    <label for="policy">
                        I agree to the 
                        <a href="#">Terms & Conditions</a>
                    </label>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <div class="bottom-link">
                Already have an account?
                <a href="#">Login</a>          <!-- Login Link -->
            </div>
        </div>
    </div>
</div>

<main>
    {% block content %}
    {% endblock %}
</main>

<!-- FOOTER -->

<footer>
    <div class="row">
        <div class="col">
            <img src="static/img/logos/logo-footer.png" alt="Clean Sweep" class="logo">
            <p>Subscribe to Clean Sweep to enjoy cleaning inspiration and receive tips and tricks to improve your daily life.</p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"><span></span></div> </h3>
            <p>69 Clear View Road</p>
            <p>Somewhere Amazing</p>
            <p>In a Beautiful Town</p>
            <p>New Zealand</p>
            <p class="email-id">hello@cleansweep.co.nz</p>
            <h4>+64 206 895 664</h4>
        </div>
        <div class="col">
            <h3>Links <div class="underline"><span></span></div> </h3>
            <ul>
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Newsletter <div class="underline"><span></span></div> </h3>
            <form>
                <i class="fa-regular fa-envelope" style="color: #e7eaee;"></i>
                <input type="email" placeholder="Enter Email" required>
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
            </form>
            <div class="social-icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-pinterest"></i>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright">Clean Sweep &#169; 2024</p>
</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div class="blur-background"></div>
</body>
</html>
