<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name ="viewpoint" content="width=device-width, initial-scale=1.0">       <!-- For responsive webpage, mobile friendly-->
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <style>
/* to add a new image for each page--> */
        .navbar {
        background-image: url('{{ navbar_background_url }}');
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

  {% block heading %}{% endblock %}

</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="row">
        <div class="col"></div>
            <img src="static/img/logos/logo-footer.png" class="logo">
            <p>Subscribe to Clean Sweep to enjoy cleaning inspiration and receive tips and tricks to improve your daily life.</p>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

</footer>
</body>
</html>
