{% extends 'base.html' %}

{% block title %} Clean Sweep {% endblock %}

{% set navbar_background_url = url_for('static', filename='img/images/home-background.jpg') %}

{% block head %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block home %} 

<div class="signup-container">    
    <!--<div class="signup">            SIGNUP -->
        <div class="welcome-msg">
            <h1>Welcome to <span style="color: #A7BA9C; font-weight: bold;">Clean Sweep</span></h1>  <!--<span style="color: #A7BA9C; font-weight: bold;">Clean Sweep</span>-->
            <h2>The easiest way to clean your home.</h2>
            <p></p>
        </div>
            <div class="form-content">
                <h1>SignUp</h1>
                <form action="#">                        <!-- DB link may go here for signup -->
                    <div class="input-field">            <!-- Insert Email -->
                      <input type="text" required>
                      <label>Enter your email</label>
                    </div>
                    <div class="input-field">                   <!-- Create Password -->
                      <input type="password" required>
                        <label>Create password</label>
                    </div>
                    <div class="policy-text">
                        <input type="checkbox" id="policy">
                        <label for="policy">
                            I agree to the 
                            <a href="#">Terms & Conditions</a>
                        </label>
                    </div>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div> 
    <!-- </div>     -->
</div>




{% endblock %}

{% block content %}

{% endblock %}