{% extends 'base.html' %}

{% block title %} Task Management {% endblock %}

{% set navbar_background_url = url_for('static', filename='/img/images/user-profile1.jpg') %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block heading %}
<div class="navHeading">
    <h1 class="headingOne">User Profile</h1>
</div>
{% endblock %}

{% block content %}

<!--For any flash messages that will apear in content-->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

<ul class="flashes contactUL">
  {% for category, message in messages %}
    <li class="flashItem contactLI"> 
        <img class="iconSpesification" src="{{ url_for('static', filename='/img/icons/warning.png') }}" alt="Warning Icon"> 
        <span class="flashMessage">{{ message }}</span>
    </li>
  {% endfor %}
</ul>

{% endif %}
{% endwith %}  


<div class="profile-container">
    <div class="profile-form">
        <div class="profile-picture-container">
            <img id="profile-picture" src="{{ url_for('static', filename='path/to/default/profile-picture.png') }}" alt="Profile Picture">
            <input type="file" id="profile-picture-upload" accept="image/*" onchange="loadFile(event)">
        </div>

        <form action=" {{ url_for('profile') }} " method="post">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" value="{{ user.name }}" required>

            <label for="email">Email*</label>
            <input type="text" id="email" name="email" value="{{ user.email }}" required>

            <label for="dob-day">Date of Birth*</label>
            <div class="dob-dropdowns">
                <select id="dob-day" name="dob-day" required>
                    {% for day in range(1, 32) %}
                    <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                </select>
                <select id="dob-month" name="dob-month" required>
                    {% set months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %}
                    {% for month in months %}
                    <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
                <select id="dob-year" name="dob-year" required>
                    {% for year in range(1920, 2025) %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" name="action" value="updateProfile" >Save Changes</button>
        </form>


        <div id="graph-container">
            <canvas id="myChart" style="width:100%;max-width:800px;height:400px;"></canvas>
            <script>
            const xValues = ["0 - 29%", "30 - 49%", "50  - 79%", "80 to 99%", "100%"];
            const yValues = [55, 49, 44, 24, 15];
            const barColors = [
              "#90BE6D",
              "#F94144",
              "#F9C74F",
              "#2CF3F3",
              "#1e7145"
            ];

            new Chart("myChart", {
              type: "doughnut",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                }]
              },
              options: {
                title: {
                  display: true,
                  text: "Cleaning Activities"
                }
              }
            });
            </script>
        </div>
    </div>
             <!--We will have to link this to database, so it records the below streaks -->
    <div class="profile-details">
        <section class="achievements">
            <h2>Achievements</h2>
            <div class="achievement-category">
                <h3>Daily Cleaning Streaks</h3>
                <p>Current streak: </p>
                <p>Best streak: </p>
            </div>
            <div class="achievement-category">
                <h3>Weekly Cleaning Streaks</h3>
                <p>Current streak: </p>
                <p>Best streak: </p>
            </div>
            <div class="achievement-category">
                <h3>Monthly Cleaning Streaks</h3>
                <p>Current streak: </p>
                <p>Best streak: </p>
            </div>
        </section>

        <section class="statistics">
            <h2>Statistics</h2>
            <div class="statistics-category">
                <h3>Total Rooms Cleaned</h3>
                <p></p>
            </div>
            <div class="statistics-category">
                <h3>Hours Spent Cleaning</h3>
                <p></p>
            </div>
            <div class="statistics-category">
                <h3>Total Days Cleaning</h3>
                <p></p>
            </div>
        </section>
    </div>
</div>

       <!-- Adding some JavaScript for Profile Picture to upload -- >
<script>
    var loadFile = function(event) {
        var image = document.getElementById('profile-picture');
        image.src = URL.createObjectURL(event.target.files[0]);
        image.onload = function() {
            URL.revokeObjectURL(image.src) // free memory
        }

    };
</script>
{% endblock %}
