{% extends 'base.html' %}

{% block title %} Tips {% endblock %}

{% set navbar_background_url = url_for('static', filename='img/images/cleaning-tips.jpg') %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tips.css') }}">
{% endblock %}

{% block heading %}
<h1 style="text-align: center;">Tips & Tricks</h1>
{% endblock %}

{% block content %}

<!-- Centered Introduction section -->
<div class="intro-section">
    <h2>Making Cleaning Fun and Easy</h2>
    <p>The team at Clean Sweep gets it, we know that not everyone gets excited when cleaning their home. But it shouldn't feel like a chore, making cleaning fun and easy is all about incorporating enjoyable elements and efficient methods into the process. Using easy-to-handle, effective cleaning tools and products can streamline the cleaning process. With the right resources at your disposal and the help from our handy app, you will transform cleaning from a mundane task into an enjoyable and easy experience.</p>
</div>

<!-- Content sections in a grid -->
<div class="content-container">
    <!-- Eco-Friendly Cleaning Products section -->
    <div class="section">
        <img src="{{ url_for('static', filename='img/images/eco-friendly.jpg') }}" alt="Eco-Friendly Cleaning Products">
        <div class="text-content">
            <h3>Eco-Friendly Cleaning Products</h3>
            <p>Eco-friendly cleaning products are a sustainable choice that benefits both our environment and our own health. They are made from natural and organic ingredients that are biodegradable and non-toxic, reducing exposure to harsh chemicals. By choosing eco-friendly cleaning products, we contribute to the reduction of water and air pollution. Showing that we really do care about the wellbeing of our planet.</p>
        </div>
    </div>

    <!-- Leather Care section -->
    <div class="section reverse">
        <div class="text-content">
            <h3>Leather Care</h3>
            <p>Leather care cleaning products are essential for maintaining the durability and aesthetic appeal of leather goods. These products are specially formulated to clean, condition and protect leather without causing damage or discoloration. They often contain natural ingredients like beeswax and oils that nourish the leather keeping it supple. In essence, leather care cleaning products are an investment in the longevity and beauty of your leather goods.</p>
        </div>
        <img src="{{ url_for('static', filename='img/images/leather-care.jpg') }}" alt="Leather Care">
    </div>

    <!-- Cleaning with Pets section -->
    <div class="section">
        <img src="{{ url_for('static', filename='img/images/pets.jpg') }}" alt="Cleaning with Pets">
        <div class="text-content">
            <h3>Cleaning with Pets</h3>
            <p>Cleaning with pets requires special consideration to ensure the safety of our furry friends and maintain a clean environment. Pet-friendly cleaning products are designed to be non-toxic and hypoallergenic, ensuring they are safe for pets while effectively removing dirt and accidents, contributing to a healthier home. It's also important to consider pet grooming and hygiene as part of the cleaning process.Ultimately, cleaning with pets is about balancing the need for cleanliness with the health of our pets.</p>
        </div>
    </div>
</div>

{% endblock %}
